.App {
  text-align: center;
}

.App.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.overall-component-div {
  display: flex;
}

.title-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

textarea {
  height: auto;
}

.row {
  /* Zeroing these margins gets rid of jolting content shift to the left */
  margin-left: 0;
  margin-right: 0;
}
