.App {
  text-align: center;
}

.overall-component-div {
  display: flex;
}

.title-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

textarea {
  height: auto;
}
