.App {
  text-align: center;
}

.App.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.overall-component-div {
  display: flex;
}

.title-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

textarea {
  height: auto;
}
