@color_1: black;
@color_2: #777;
@color_3: red;
@color_4: inherit;
@color_5: #f2f2f0;
@color_6: #c5c6c7;
@font_family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
@font_family_2: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
  "AppleGothic", sans-serif;
@font_family_3: Cambria;
@font_family_4: Impact, Haettenschweiler, "Arial Narrow Bold";
@font_family_5: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
@background_color_1: #707f8c;
@background_color_2: white;
@background_color_3: transparent;
@background_color_4: lightgrey;
@background_color_5: rgba(0, 0, 0, 0.3);
@background_color_6: rgba(0, 0, 0, 0.1);
@background_color_7: #707f8c;
@background_color_8: lightgray;
@background_color_9: blanchedalmond;
@transparent-white: rgba(255,255,255, 0.7);
@transparent-whiter: rgba(255,255,255, 0.9);


/* the row card variants are for small one line cards */
/* This card-text syling makes sure words don't jut up against the edge on single line things like skills and such */
/* This keeps the red delete X from jutting up against the left side on single line row cards */
/* a:hover {
  color: inherit !important;
  text-decoration: none !important;
} */
/* .land-btn:hover {
  font-weight: 500; 
} */
/* Stops icons next to section titles on sidebar from jutting up against the titles */
/* .skills-containment-div .skillgroup {
  display: flex;
  padding: 2rem;
} */

// index.css
html {
  font-size: 1.4rem;
  body {
    margin: 0;
    padding: 0;
    font-family: @font_family_1;
  }
}
a {
  color: @color_1;
}

// App.css
.App {
  text-align: center;
}
.App.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.overall-component-div {
  display: flex;
  .title-div {
    display: flex;
    justify-content: flex-start;
   
  }
}
.overall-component-div.row {
  flex-wrap: unset;
}
.title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  width: 95%;
  font-family: @font_family_2;
  // align-items: start;
  display: flex;
  // align-self: start;
  // flex-direction: row;
  text-align: start;
  // flex-direction: column;
  // justify-content: space-between;
  padding: 0.5rem 0 0 0;
 
  h4 {
    // width: 95%;
    text-align: start;
  }
  p {
    text-align: start;
  }
}
textarea {
  height: auto;
}
.section.title-div.col {
  display: flex; 
  // height: 100vh;  
  // width: 100vw; 
  background: url(images/cup.jpg) ;
  background-size: cover;
  // overflow: auto;
   
}
.title-div.col {
  padding-right: 2rem;
}
.section-title {
  background-color: @transparent-white;
  border-radius: 10px; 
  margin: 0.8rem; 
  padding: 1rem;
  p {
    margin: 0; 
    padding: 0; 
  } 
}
.templates.section-title {
  background-color: @transparent-whiter;
}
// billing.css
.billing.title-div.col {
  background-image: url(images/abstract.jpg);
  background-size: cover;
  display: flex;   
}
// .billing-page {
//   background-color: @transparent-white;
//   padding-bottom: 3rem; 
//   border-radius: 10px;
  
// }
.stripe {
  width: 100%;
}
.stripe-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: @background_color_9;
  height: 320px;
  padding: 2%;
  margin-top: 3%;
}
.stripe-pay {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.card-element {
  width: 50%;
  background-color: @background_color_2;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  -webkit-transition: box-shadow 150ms ease;
  padding: 1%;
}
.btn-group {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}
.bill-btn {
  // margin: 2% 1%;
  margin: 0.1rem;
}
.unsubscribe {
  width: fit-content;
  align-self: center;
}

// classFunction.css
.template-card {
  background-color: @background_color_3 !important;
  border: none !important;
  padding: 0;
  // color: transparent; 
  // text-shadow: -1px -1px 1px black;
  card {
    dropdown {
      font-size: 0.7rem;
      width: 15rem;
    }
  }

}
.list-group {
  max-height: 175px;
  overflow: auto;
  overflow-y: auto;
}
.list-group-item {
  background-color: @background_color_4 !important;
}

// component-general.css
.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: start;
  flex-direction: row;
  padding: 0.5rem 0 0 0.5rem;
  text-align: start;
}
// icon/fa styling
i {
  color: @color_1;
  font-size: 2rem;
}
.fa.fa-pencil {
  padding: 0.5rem;
  &:hover {
    color: @color_2;
  }
  &:active {
    font-size: 1rem;
    color: @color_2;
  }
}
.fa.fa-check {
  padding: 0.5rem;
  &:hover {
    color: @color_2;
  }
  &:active {
    font-size: 1rem;
    color: @color_2;
  }
}
// .title-div.templates {
//   background-color: @transparent-white;
//   margin: 1rem;
//   padding-left: 0.5rem;
//   padding-right: 1rem;
//   border-radius: 10px;
 

//   h4 {
//     width: 100%;
//     border-bottom: 1px solid black;
//     text-align: start;
//     padding: 0.5rem;
//     margin: 0;
//   }
// }
.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
form {
  font-size: 0.7rem;
}
.form-control {
  font-size: 0.7rem;
}
.edit-name {
  max-width: 20%;
}

// itemcard.css
button.close {
  color: @color_3;
  &:hover {
    color: @color_3 !important;
  }
  &:focus {
    color: @color_3 !important;
  }
}
.item-card {
  margin: 1%;
  max-width: 20rem;
  text-align: left;
  justify-content: space-between;
  .btn {
    background-color: @background_color_1;
    border-radius: unset;
    padding: 0;
  }
  .close {
    position: absolute;
    padding: 0 0.3rem 0 0;
    top: 0;
    width: min-content;
    height: min-content;
    align-self: flex-end;
  }
  .card-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 5rem;
  }
}
.item-card.card {
  border: unset;
  border-radius: unset;
}
.item-card.row-card {
  border-radius: 0.25rem;
  flex-direction: row;
  margin: 1%;
  .card-body {
    padding: 0 0.5rem 0 0;
    overflow: hidden;
  }
  .close {
    padding: 0 0.3rem;
    position: relative;
    align-self: center;
  }
  p {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.item-card-link {
  color: @color_4;
}
.summary-containment-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  .item-card.card {
    min-height: 12rem;
  }
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-body {
    padding: 1.25rem;
    font-size: 0.7rem;
    width: 15rem;
    border: 1.5rem;
    h5 {
      font-size: 1rem;
    }
  }
}
.experience-containment-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  .item-card.card {
    min-height: 12rem;
  }
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  .card-text {
    margin: 0.4rem 0 0 0;
  }
  .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-body {
    padding: 0.8rem;
    font-size: 0.7rem;
    width: 15rem;
    border: 1.5rem;
    h5 {
      font-size: 1rem;
    }
  }
}
.education-containment-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  .item-card.card {
    min-height: 12rem;
  }
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-body {
    padding: 1.25rem;
    font-size: 0.7rem;
    width: 15rem;
    border: 1.5rem;
    h5 {
      font-size: 1rem;
    }
  }
}
.titles-containment-div {
  display: flex;
  flex-flow: row wrap;
  max-width: 50rem;
  width: 80%;
  .item-card.card {
    min-width: 1rem;
    min-height: 1rem;
  }
}
.card-body.card-text.card {
  text-decoration-color: black;
}

// landingpage.css
.landing-button {
  padding: 1px;
  &:active {
    font-size: 0.8rem;
    border: none;
  }
}
.LandingPage {
  height: 100vh;
  width: 100%;
  background-image: url(images/Buildings.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 30vh;
}
.Header {
  width: 100%;
  background-color: @background_color_5;
  font-weight: 600;
  padding: 1.5rem;
  text-shadow: 1px 1px white;
  margin: 0;
}
.land-btn {
  background: transparent;
  font-size: 1rem;
  font-family: @font_family_3;
}
.landing-box {
  width: 100%;
  padding: 0.2rem;
  background-color: @background_color_6;
}
.fa-angle-left {
  height: 0.5rem !important;
}

// login.css
.Login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/Buildings.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  form {
    align-self: center;
    background: #fff;
    padding: 2rem 1rem;
    .form-group {
      display: flex;
      flex-wrap: wrap;
      max-width: 20rem;
      justify-content: center;
      label {
        margin: 0;
      }
      .help-block {
        margin: 0;
      }
    }
    .btn {
      margin-top: 2rem;
    }
  }
  .bottom-buttons {
    display: flex;
    justify-content: space-around;
  }
  .message {
    display: flex;
    max-width: 30%;
    align-self: center;
    background: #fff;
    border-radius: 0.25rem;
    flex-direction: column;
    padding: 2rem;
    p {
      word-break: break-word;
    }
  }
}

// navbar.css
.navbar {
  background-color: @background_color_7;
  border-bottom: 2px solid darkslategray;
}

// resume.css
.resume.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: unset;
  h4 {
    margin: 0;
  }
}
img {
  height: 18rem;
  width: 13.9rem;
}
.template-img {
  border: 1px black solid;
}
.container-div {
  padding: 1rem;
}

// settings.css
.settings {
  background-image: url(images/abstract.jpg);
}
.Settings {
  form {
    .form-group {
      max-width: 20rem;
      margin-bottom: 0.15rem;
      label {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
      }
      .help-block {
        margin: 0;
      }
    }
  }
  .btn {
    display: flex;
  }
  .settings-footer {
    display: flex;
    align-items: center;
  }
  .saved-status {
    margin-left: 3rem;
  }
  .modal {
    position: absolute;
    top: 25%;
    bottom: 10%;
  }
  .modal-footer {
    justify-content: center;
  }
}
.Settings.container {
  margin-left: 0;
  margin-top: 1rem;
}

// sidebar.css
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  min-height: 100vh !important;
  background: #162238;
  justify-content: space-between;
  margin-right: 1px;
}
.static-sidebar {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  background: #162238;
  border-top: 1px solid #d9d9d9;
  a {
    color: @color_5;
    padding: 10% 0;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    padding-left: 20%;
    &:hover {
      color: @color_5;
      text-decoration: none;
      border-left: 1rem solid #d9d9d9;
      background: #707f8c;
    }
    .fa {
      width: 1rem;
      display: inline-flex;
      justify-content: center;
    }
  }
  .active {
    border-left: 1rem solid #d9d9d9;
    background: #324359;
  }
}
.sidebar-button {
  color: @color_6;
  text-shadow: 1px 1px black;
  margin-top: 25px;
}

// skills.css
.skills-containment-div.container {
  margin-top: 1rem;
  max-width: 100%;
}
.skills-containment-div {
  label {
    text-align: right;
  }
  .skillgroup {
    padding: 0 6% 0 5%;
  }
  .skills-input {
    border-radius: unset;
  }
  .groupname-input {
    font-size: 1.8rem;
    border-radius: unset;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
}
.groupname-input {
  border-radius: unset !important;
}
.groupname {
  width: fit-content;
}

// templates.css, template1.css, template2.css, template3.css
.component-div {
  display: flex;
  // background: #c8c8c8;
}
.resumePage {
  padding-bottom: 5rem;
}
.checkbox-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0 0;
  font-family: @font_family_2;
  width: 95%;
  background-image: url('images/blank-paper.jpg');
  background-size: cover;
}
.page-div.col {
  padding-right: 2rem;
}
.page-div.page-container-div {
  max-width: 1200px !important;
}
.page-header {
  font-family: @font_family_2;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
.template1 {
  border: 1px solid black;
  padding: 50px;
  margin: 1rem;
  background: white;
  text-align: left;
}
.template2 {
  border: 1px solid black;
  padding: 50px;
  margin: 1rem;
  background: white;
  .row {
    flex-wrap: unset;
  }
  p {
    word-break: break-word;
  }
}
.template3 {
  border: 1px solid black;
  padding: 50px;
  margin: 1rem;
  background: white;
}
.divider-div {
  border: 1px solid black;
}
.resume-button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  white-space: nowrap;
}
.save-button {
  height: min-content;
  align-self: center;
}
.subtitle {
  font-family: @font_family_2;
  // font-family: @font_family_5;
}
.template.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}
.left-column {
  background-color: @background_color_9;
}
.logo {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.contact-resume3-section {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.contact-section {
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .contactSection {
    display: flex;
    flex-flow: column wrap;
  }

  .contactHolder {
    display: flex;
  }
  .contact-holder {
    min-width: 100px;
    width: 27%;
  }
}

.title-section {
  margin: 1% 0 0 0;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .titleHolder {
    min-width: 100px;
    width: 10%;
  }

  .titleSection {
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
  }
}

.summary-section {
  margin: 1% 0 0 0;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .summaryHolder {
    min-width: 100px;
    width: 18%;
  }

  .summarySection {
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
  }
}

.skills-section {
  margin: 1% 0 0 0;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .skillsHolder {
    min-width: 100px;
    min-height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
  }

  .skillsSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 800px;
  }
}

.experience-section {
  margin: 1% 0 0 0;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .experienceHolder {
    min-width: 100px;
    min-height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
  }

  .experienceSection {
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
  }
}

.education-section {
  margin: 1% 0 0 0;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @transparent-white;

  .educationHolder {
    min-height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
  }

  .educationSection {
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
  }
}

a:hover {
  text-decoration: none !important;
  color: inherit !important;
}
.nav-header {
  text-shadow: 1px 1px black;
}
#resumeName {
  border-radius: unset;
}

.container.resume-name {
  display: flex;
  justify-content: center;
}
