.item-card {
  margin: 2% 1%;
  min-width: 29%;
  max-width: 20rem;
  /* min-width: 20%; */
  text-align: left;
  justify-content: space-between;
}

.item-card .btn {
  background-color: #707f8c;
}

.item-card .close {
  color: red;
  position: absolute;
  top: 0;
  width: min-content;
  height: min-content;
  align-self: flex-end;
  padding: 0.1rem;
}

.item-card .close:hover {
  color: red !important;
}

.item-card .close:focus {
  color: red !important;
}

.item-card-link {
  color: inherit;
}

.item-card .card-header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 50px;
}

.item-card .card-body .card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  /* height: 150px; */
}

/* .summary-card-link {
  background: white;
  border: 1px solid lightgrey;
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
  padding: 10px;
  width: 240px;
  height: 160px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-decoration: none;
}

.summary-card-span {
  color: black;
} */
