.item-card {
  margin: 1%;
  /* min-width: 29%; */
  max-width: 20rem;
  /* min-width: 20%; */
  text-align: left;
  justify-content: space-between;
}

.item-card.card {
  word-wrap: inherit;
}

/* the row card variants are for small one line cards */
.item-card.row-card {
  flex-direction: row;
  margin: 1%;
  white-space: nowrap;
}

/* This keeps the red delete X from jutting up against the left side on single line row cards */
.item-card.row-card .close {
  padding: 0 0.3rem;
}

.item-card.row-card p {
  padding: 0;
}

.item-card.row-card .close {
  position: relative;
  align-self: center;
}

.item-card .btn {
  background-color: #707f8c;
  border-radius: unset;
  padding: 0;
}

.item-card .close {
  color: red;
  position: absolute;
  padding: 0 0.3rem 0 0;
  top: 0;
  width: min-content;
  height: min-content;
  align-self: flex-end;
}

.item-card .close:hover {
  color: red !important;
}

.item-card .close:focus {
  color: red !important;
}

.item-card-link {
  color: inherit;
}

.item-card .card-header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 5rem;
}

.summary-containment-div,
.experience-containment-div,
.education-containment-div {
  display: flex;
  /* justify-content: center; */
  /* max-width: 800px; */
  flex-wrap: wrap;
  min-width: 100%;
}

.summary-containment-div .item-card.card,
.experience-containment-div .item-card.card,
.education-containment-div .item-card.card {
  /* width: 25%; */
  min-height: 12rem;
}

.summary-containment-div .card-title,
.experience-containment-div .card-title,
.education-containment-div .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.experience-containment-div .card-subtitle,
.education-containment-div .card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.education-containment-div .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titles-containment-div,
.skills-containment-div {
  display: flex;
  flex-flow: row wrap;
  max-width: 50rem;
  width: 80%;
}

.skills-containment-div .item-card.card,
.titles-containment-div .item-card.card {
  min-width: 1rem;
  min-height: 1rem;
}

.skills-containment-div .skillgroup {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 1% 5%;
}

.skillgroup-input {
  display: flex;
  justify-content: space-around;
}
.card-body {
  font-size: 0.7rem;
  width: 15rem;
  border: 1.5rem;
}
.card-body h5 {
  font-size: 1rem;
}

.item-card.row-card.title,
.item-card.row-card .card-body {
  min-width: 1rem;
  max-width: 8rem;
  margin: 0 1rem 1rem 0.1rem;
  padding: 0.3rem;
  width: 7rem;
  height: 3rem;
  overflow: hidden;
}

.item-card.row-card .card-body {
  height: 2rem;
}