<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Render Stripe Buttons</title>
    </head>
    <body>
        <div>Hello World</div>
        <br>
        <form action="/monthly" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_test_nY5MwNnJraHmAq0JRBD6Ksan"
                data-amount="499"
                data-name="Monthly"
                data-description="Subscription"
                data-locale="auto"
                data-label="Monthly Subscription"
            >
            </script>
        </form>
        <br>
        <form action="/yearly" method="POST">
            <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_nY5MwNnJraHmAq0JRBD6Ksan"
            data-amount="5599"
            data-name="Yearly"
            data-description="Subscription"
            data-locale="auto"
            data-label="Yearly Subscription"
            >
            </script>
        </form>
    </body>
</html>


