.page-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: lightgray;  */
}
.containters-div {
  display: flex;
  flex-direction: row;
}
.container-div {
  padding: 1rem;
}

img {
  height: 10rem;
}