.page-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: lightgray;  */
}
.containters-div {
  display: flex;
  flex-direction: row;
  padding: 1rem; 
}
/* .container-div {
  padding: rem;
} */

img {
  height: 13rem; 
  width: 9.5rem; 
}