.component-div {
    display: flex; 
}
.page-div {
    display: flex; 
    flex-direction: column; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.page-header {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.template1 {
    border: 1px solid black; 
    padding: 50px; 
}
.divider-div {
    border: 1px solid black; 
}
.resume-button {
    width: 10rem; 
   
}
.subtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}
.titleSection {
    background-color: lightgray; 
}