.component-div {
    display: flex; 
}
.page-div {
    display: flex; 
    flex-direction: column;
}
.page-header {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.template1 {
    border: 1px solid black; 
    padding: 50px; 
    margin: 1rem; 
}
.divider-div {
    border: 1px solid black; 
}
.resume-button {
    width: 10rem; 
}
.subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.left-column {
 width: 23%; 
 background-color: blanchedalmond;
  }
.logo {
    width: 10rem; 
    height: 10rem; 
    padding: 1rem; 
}
.contact-section { 
    font-size: 0.7rem; 
}