.resume.title-div {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding:  1rem 2rem 0; 
}
.resume.page-header {
    display: flex; 
}
img {
    height: 1rem; 
    width: 7rem; 
}
.container-div {
    padding: 1rem;
  }
.skillsSection {
    display: flex;
    width: 100%;
}