.template-card {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}

.template-card card dropdown {
  font-size: 0.7rem;
  width: 15rem;
}

.list-group {
  max-height: 175px;
  overflow: auto;
  overflow-y: auto;
}

.list-group-item {
  background-color: lightgrey !important;
}
