.landing-button {
  padding: 1px;
}

.LandingPage {
  height: 100vh;
  width: 100%; 
  background-image: url(Buildings.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 30vh;
}
.Header {
  width: 100%; 
  background-color:rgba(0, 0, 0, 0.3);
  /* -webkit-text-fill-color: darkslategray;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  font-weight: 600; 
  /* text-shadow: 4px 4px darkslategray; */
  padding: 1.5rem; 
  text-shadow: 1px 1px white; 
  margin: 0; 
}
.land-btn {
  background: transparent; 
  font-size: 1rem; 
  font-family: Cambria;
  /* font-weight: 800;  */
  /* padding: 5px !important;  */
  /* text-shadow: 1px 1px darkslategrey; */
 
}
.landing-button:active {
  font-size: 0.9rem; 
  border: none; 
}
/* .land-btn:hover {
  font-weight: 500; 
} */


.landing-box {
  width: 100%;  
  padding: .2rem; 
  background-color:rgba(0, 0, 0, 0.1);
}

.fa-angle-left {
  height: 0.5rem !important;
}
