.skills-containment-div.container {
  /* display: flex;
  flex-wrap: wrap;
  padding: 2rem; */
  max-width: 100%;
}

/* .skills-containment-div .skillgroup {
  display: flex;
  padding: 2rem;
} */

.skills-containment-div label {
  text-align: right;
}

.skills-containment-div .skillgroup {
  padding: 0 6% 0 5%;
}

.skills-containment-div .skills-input,
.skills-containment-div .skills-input {
  border-radius: unset;
}

.skills-containment-div .groupname-input {
  font-size: 1.8rem;
}

.skills-containment-div .skills-input {
}
