.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: start;
  flex-direction: row; 
  padding: 0.5rem 0 0 0.5rem; 
  text-align: start; 
}
/* .link-hide h4 {
  border-bottom: 1px solid black; 
  text-align: start; 
} */
i {
  color: black;
  font-size: 2rem;
}

.title-div {
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
    align-items: start;  
   
}

.overall-component-div .title-div {
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem; 
}

.title-div.resumes h4,
.title-div.templates h4 {
  width: 100%; 
  border-bottom: 1px solid black; 
  text-align: start; 
  padding: .5rem; 
  margin: 0; 
}
.title-div h4 {
  text-align: start; 
}
.title-div p {
  text-align: start; 
}

.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.fa.fa-pencil {
  padding: .5rem; 
}

.fa.fa-pencil:hover {
  color: #777;
}

.fa.fa-pencil:active {
  font-size: 1rem; 
  color: #777;
}

.card-body.card-text.card {
  text-decoration-color: black;
}
form {
  font-size: .7rem; 
}

.form-control{
  font-size: .7rem; 

}
p.card-text{
 margin-top: .3rem; 
}