.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: center;
}

i {
  color: black;
  font-size: 2rem;
}

.title-div {
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
}

.overall-component-div .title-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-image: linear-gradient( darkgray, white); */
  /* background: linear-gradient(#7578F8, lightgray); */
  /* background: #C8C8C8;   */
}

.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.fa.fa-pencil {
  margin: 1rem 0 0.5rem 0;
}

.card-body.card-text.card {
  text-decoration-color: black;
}
