.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: center;
  flex-direction: row; 
}
.link-hide h1 {

  margin-bottom: 0; 
  padding-right: .5rem; 
}
i {
  color: black;
  font-size: 2rem;
}

.title-div {
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
}

.overall-component-div .title-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.fa.fa-pencil {
  padding: .6rem; 
}

.fa.fa-pencil:hover {
  color: #777;
}

.fa.fa-pencil:active {
  font-size: 1.9rem; 
  color: #777;
}

.card-body.card-text.card {
  text-decoration-color: black;
}
