.Login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(Buildings.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.Login form {
  align-self: center;
}

.Login form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Login .modal {
  position: absolute;
  /* the top and bottom make the modal relatively
  centered on the screen */
  top: 25%;
  bottom: 10%;
}

.Login .modal-footer {
  justify-content: center;
}
