.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: center;
}

i {
  color: black; 
  font-size: 2rem; 
}
i:hover{
  font-size:3rem; 
}

.title-div {
  width: 100%;
}

.overall-component-div .title-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.summary-containment-div {
  display: flex;
  justify-content: center;
  /* max-width: 800px; */
  flex-wrap: wrap;
}
