.link-hide {
  max-width: 50rem;
  display: flex;
  align-self: center;
}

.plus-circle {
  width: 4rem;
  height: 4rem;
}

.title-div {
  width: 100%;
}

.overall-component-div .title-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-for-links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.summary-containment-div {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}
