
.page-div {
    width: 100%; 
    align-content: center ;
}
.title-div {
    padding: 1.5rem; 
}
.containters-div {
display: flex; 
flex-direction: row;
}
.container-div {
padding: 1rem; 
}
img {
    height: 18rem; 
}